modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["chromium", "zip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0", "javascript_log_in_with_replit:2.0.0"]

[userenv]

[userenv.shared]
ADMIN_USER_ID = "53528927"
META_APP_ID = "1241083361501051"
META_AD_ACCOUNT_ID = "871382102873840"
META_APP_SECRET = "37f40725105b817c18d2401af6675c3a"
META_ACCESS_TOKEN = "EAARowjzmH3sBQ1QWYXo5ZAxmXFcLVMzNZBYlc3Kz7IFgDYg3EIMFvmeWqYlxImX33mBpBlYn1h1vws6NvCZAFqjxL6mflIDCFyRAbvhA4VNwKspeovgWk25dNzWwC2W4KWAnmAYlRrtAM3u96VeDQEZBUNGPA951vHypZAtwnqi4Pge8KfQRavWpOXAknTZCtuPmZCsAVZAY"
META_PAGE_ID = "61578684060633"
GOOGLE_CALENDAR_CLIENT_ID = "346057712684-h317gsnosii56odp17etbt412jvr51am.apps.googleusercontent.com"
GOOGLE_CALENDAR_CLIENT_SECRET = "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"
GA_MEASUREMENT_ID = "G-4CVF9NV7MT"
GA_API_SECRET = "jIlJtysAS2OdBVNRyAQi5w"
